* {
    margin:0;
    padding:0;
    border:0;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

body {
    font-family: 'Chivo', sans-serif;
}

/* fonts */
@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Chivo';
    src: url('fonts/Chivo-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'LoRes 21 OT Serif';
    src: url('fonts/LoRes21OTSerif-Regular.woff2') format('woff2');
    font-display: auto;
    font-weight: 400;
}

/* text */

.content p {
    font-size: 1.3rem;
	font-weight: 300;
    margin: 1em 0;
}

h1 /* Logo */ {
    font-family: 'LoRes 21 OT Serif';
    font-weight: 400;
    font-size: 21px;
}

h2 /* Menus */ {
    font-family: 'LoRes 21 OT Serif';
    font-weight: 400;
    font-size: 21px;
    line-height: 2rem;
}

h3 /* Work Title */ {
    font-family: 'LoRes 21 OT Serif';
    font-size: 21px;
    line-height: 1em;
}

/* header shared */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(#e6e6e6, #ffffff00);
}

/* header mobile */

@media screen and (max-width:800px) {
    .logo {
        font-size: 1.8rem;
        padding:0.5em;
    }
    #navMobile {
        display: none;
        position: relative;
        font-size: 2.2rem;
        width: 100%;
        height: 100%;
        line-height: 1.4em;
    }

    .navWeb {
        display: none;
    }
}

/* header web */

@media screen and (min-width:801px) {
    .logo {
        height: 5%;
        padding:1em;
        z-index: 1;
    }

    .navWeb {
        position: fixed;
        right: 0;
        top: 0;
        padding: 2em;
        z-index: 1;
    }

    #navMobile {
        display: none;
        height: 100%;
        text-align: center;
    }
}

/* content */

.contentMenu {
    display: grid;
    place-content: center;
    height: 100%;
    text-align: center;
}

/* images */

.imagemax {
    max-height:600px;
    max-width:100%;
    margin:2em auto;
    display:block;
}

/* links */

a {
    color:#000;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color:#000;
    text-shadow: 1px 1px rgb(0, 195, 79);
    transition: 0.2s;
}

a:active, a:visited {
    text-decoration: none;
}

.content a {
    color: rgba(0, 195, 79, 1);
    text-decoration: none;
    transition: 0.2s;
}

.content a i {
    color: rgba(0, 195, 79, 1);
    transition: 0.2s; 
}

.content a:hover, .content a:hover i {
    color: #000;
    text-shadow: 1px 1px rgba(0, 195, 79, .85);
    transition: 0.2s;
}

.content a:active {
    text-decoration: none;
}